Node-Red
[{"id":"e35c896e.0d0748","type":"tab","label":"LoRa Gateway"},{"id":"e2b2a2cf.ddc3f","type":"mqtt in","z":"e35c896e.0d0748","name":"","topic":"iot-lora","qos":"2","broker":"afdc83a4.137a9","x":73,"y":238,"wires":[["fef988df.7a7898","8cef0bf8.9e6738"]]},{"id":"e711c94e.c1fff8","type":"debug","z":"e35c896e.0d0748","name":"sender","active":false,"console":"false","complete":"payload","x":583,"y":203,"wires":[]},{"id":"fef988df.7a7898","type":"function","z":"e35c896e.0d0748","name":"","func":"var words = msg.payload.split(\",\");\n//for (var w in words) {\n//    outputMsgs.push({payload:words[w]});\n//}\nvar m = {payload:words[0]};\nvar n = {payload:words[1]};\nvar o = {payload:words[2]};\nvar p = {payload:words[3]};\nvar q = {payload:words[4]};\nvar r = {payload:words[5]};\nvar s = {payload:words[6]};\nvar t = {payload:words[7]};\nvar t1 = {payload:words[8]};\nvar t2 = {payload:words[9]};\nvar t3 = {payload:words[10]};\nvar t4 = {payload:words[11]};\n\nreturn [ m, n, o, p, q, r, s, t, t1, t2, t3, t4];","outputs":"12","noerr":0,"x":95.75000381469727,"y":523.5,"wires":[["e711c94e.c1fff8"],["e70b2b05.4e30b8"],["7041e600.8f9f1c","d87fa3a0.3d38"],["cd824333.935ff","283645b8.f39c2a"],["6d252a23.eea504","ee3f8f42.8e8db"],["1576b2dc.57f20d","e63e5444.0f0898"],["68ca9aa7.903a14"],["24712945.23fce6"],["fd622f6c.25265"],["db155007.48d51"],["34e85332.e096cc"],["2620e098.a8f0b"]]},{"id":"e70b2b05.4e30b8","type":"debug","z":"e35c896e.0d0748","name":"receiver","active":false,"console":"false","complete":"payload","x":599,"y":245,"wires":[]},{"id":"7041e600.8f9f1c","type":"debug","z":"e35c896e.0d0748","name":"A0","active":false,"console":"false","complete":"payload","x":588,"y":285,"wires":[]},{"id":"cd824333.935ff","type":"debug","z":"e35c896e.0d0748","name":"A1","active":false,"console":"false","complete":"payload","x":588,"y":332,"wires":[]},{"id":"6d252a23.eea504","type":"debug","z":"e35c896e.0d0748","name":"A2","active":false,"console":"false","complete":"payload","x":587,"y":375,"wires":[]},{"id":"1576b2dc.57f20d","type":"debug","z":"e35c896e.0d0748","name":"A3","active":false,"console":"false","complete":"payload","x":586,"y":426,"wires":[]},{"id":"8cef0bf8.9e6738","type":"debug","z":"e35c896e.0d0748","name":"","active":true,"console":"false","complete":"false","x":236,"y":111,"wires":[]},{"id":"34e85332.e096cc","type":"debug","z":"e35c896e.0d0748","name":"RSSI","active":false,"console":"false","complete":"payload","x":584,"y":476,"wires":[]},{"id":"2620e098.a8f0b","type":"debug","z":"e35c896e.0d0748","name":"SNR","active":false,"console":"false","complete":"payload","x":583,"y":527,"wires":[]},{"id":"56ada85.9312258","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"3fb698a7.aaa1f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Carbon Monoxide","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":648,"wires":[]},{"id":"c53d692e.796798","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"c84809e7.b218a8","order":0,"width":0,"height":0,"gtype":"gage","title":"Nitrogen Dioxide","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":728,"wires":[]},{"id":"62d30033.6bdbd","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"8adf1e46.c9d3e","order":0,"width":0,"height":0,"gtype":"gage","title":"Alcohol / Benzine","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":1148,"wires":[]},{"id":"36ff5e4a.cbada2","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"5ce9c1b9.a371b","order":0,"width":0,"height":0,"gtype":"gage","title":"Hydrogen","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":1048,"wires":[]},{"id":"876b3560.967c38","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"e4a5f3df.bf1fc","order":0,"width":0,"height":0,"gtype":"gage","title":"Ammonia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":568,"wires":[]},{"id":"96697d79.3dcec","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"d365bd57.b9654","order":0,"width":0,"height":0,"gtype":"gage","title":"Propane","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":555.0000152587891,"y":765.5000381469727,"wires":[]},{"id":"ba2c046c.1b7998","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"7155daf3.b4a264","order":0,"width":0,"height":0,"gtype":"gage","title":"Butane","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":563.7500114440918,"y":869.2500438690186,"wires":[]},{"id":"487e3dc0.3f3894","type":"ui_gauge","z":"e35c896e.0d0748","name":"","group":"89dda3e2.e5689","order":0,"width":0,"height":0,"gtype":"gage","title":"Methane","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":553.7500114440918,"y":954.2500324249268,"wires":[]},{"id":"e76bae32.2f89","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"e4a5f3df.bf1fc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":430,"y":528,"wires":[[],[]]},{"id":"c231d847.ff6798","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"3fb698a7.aaa1f8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":430,"y":608,"wires":[[],[]]},{"id":"da569602.8b34e8","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"c84809e7.b218a8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":430,"y":688,"wires":[[],[]]},{"id":"165fc000.48a4c","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"d365bd57.b9654","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":495.0000114440918,"y":828.000020980835,"wires":[[],[]]},{"id":"40d293fc.ad041c","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"7155daf3.b4a264","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":563.7500114440918,"y":908.0000467300415,"wires":[[],[]]},{"id":"4f88c0ad.1f666","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"89dda3e2.e5689","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"2000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":561.2500114440918,"y":1004.2500338554382,"wires":[[],[]]},{"id":"a1557d8.c048e8","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"5ce9c1b9.a371b","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":430,"y":1088,"wires":[[],[]]},{"id":"90b8423e.2171a","type":"ui_chart","z":"e35c896e.0d0748","name":"","group":"8adf1e46.c9d3e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":430,"y":1188,"wires":[[],[]]},{"id":"d87fa3a0.3d38","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"1","x":300,"y":548,"wires":[["876b3560.967c38","e76bae32.2f89","2cc614fe.d69f9c"]]},{"id":"283645b8.f39c2a","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"1","x":300,"y":608,"wires":[["56ada85.9312258","c231d847.ff6798","63d49b27.ceb8b4"]]},{"id":"ee3f8f42.8e8db","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"2","x":280,"y":708,"wires":[["c53d692e.796798","da569602.8b34e8","421e3a2.aca42c4"]]},{"id":"e63e5444.0f0898","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"0","x":247.5000457763672,"y":748.000036239624,"wires":[["96697d79.3dcec","165fc000.48a4c","95c004fd.8c53b8"]]},{"id":"68ca9aa7.903a14","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"0","x":260,"y":888,"wires":[["ba2c046c.1b7998","40d293fc.ad041c","fc3c48d3.89e2a8"]]},{"id":"24712945.23fce6","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"0","x":260,"y":988,"wires":[["487e3dc0.3f3894","4f88c0ad.1f666","4e7b6bed.f15874"]]},{"id":"fd622f6c.25265","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"1","x":237,"y":1075,"wires":[["36ff5e4a.cbada2","a1557d8.c048e8","6891c379.6ed23c"]]},{"id":"db155007.48d51","type":"smooth","z":"e35c896e.0d0748","name":"","action":"mean","count":"5","round":"1","x":240,"y":1168,"wires":[["62d30033.6bdbd","90b8423e.2171a","d2d72183.8aaa1"]]},{"id":"2cc614fe.d69f9c","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Ammonia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800.8334121704102,"y":548.3333969116211,"wires":[["82d8ad20.b35c1"]]},{"id":"82d8ad20.b35c1","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Ammonia\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Ammonia/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":937.3334655761719,"y":500.3334312438965,"wires":[["7285aba3.992474"]]},{"id":"7285aba3.992474","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1015.083553314209,"y":544.3333950042725,"wires":[[],[],[]]},{"id":"63d49b27.ceb8b4","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Carbon_Monoxide","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835.8333129882812,"y":647.0833129882812,"wires":[["a8df655.b527598"]]},{"id":"a8df655.b527598","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Carbon_Monoxide\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Carbon_Monoxide/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":952.333366394043,"y":599.0833473205566,"wires":[["1cf1fef5.74af31"]]},{"id":"1cf1fef5.74af31","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1030.08345413208,"y":643.0833110809326,"wires":[[],[],[]]},{"id":"421e3a2.aca42c4","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Nitrogen_Dioxide","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":839.5833129882812,"y":754.5833129882812,"wires":[["fde971b2.a7917"]]},{"id":"fde971b2.a7917","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Nitrogen_Dioxide\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Nitrogen_Dioxide/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":956.083366394043,"y":706.5833473205566,"wires":[["149fd3c2.f0766c"]]},{"id":"149fd3c2.f0766c","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1033.83345413208,"y":750.5833110809326,"wires":[[],[],[]]},{"id":"95c004fd.8c53b8","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Propane","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800.8333740234375,"y":812.0833568572998,"wires":[["d111749b.2ea7c8"]]},{"id":"d111749b.2ea7c8","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Propane\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Propane/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":957.333366394043,"y":807.8333473205566,"wires":[["b9ffaafa.87fa88"]]},{"id":"b9ffaafa.87fa88","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1035.08345413208,"y":851.8333110809326,"wires":[[],[],[]]},{"id":"fc3c48d3.89e2a8","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Butane","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":805.8333129882812,"y":960.8333129882812,"wires":[["5b2931a2.b28a"]]},{"id":"5b2931a2.b28a","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Butane\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Butane/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":952.333366394043,"y":912.8333473205566,"wires":[["ab561b4a.a2b1b8"]]},{"id":"ab561b4a.a2b1b8","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1030.08345413208,"y":956.8333110809326,"wires":[[],[],[]]},{"id":"4e7b6bed.f15874","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Methane","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":809.5833129882812,"y":1067.083251953125,"wires":[["fd9e0f1b.1fc8"]]},{"id":"fd9e0f1b.1fc8","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Methane\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Methane/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":956.083366394043,"y":1019.0832862854004,"wires":[["d363d74a.cd0d78"]]},{"id":"d363d74a.cd0d78","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1033.83345413208,"y":1063.0832500457764,"wires":[[],[],[]]},{"id":"6891c379.6ed23c","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Hydrogen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":822.0833129882812,"y":1154.583251953125,"wires":[["43e50cdf.01b344"]]},{"id":"43e50cdf.01b344","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Hydrogen\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Hydrogen/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":958.583366394043,"y":1106.5832862854004,"wires":[["eb4f7edf.9fc29"]]},{"id":"eb4f7edf.9fc29","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1036.33345413208,"y":1150.5832500457764,"wires":[[],[],[]]},{"id":"d2d72183.8aaa1","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Alcohol_Benzine","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835.8333129882812,"y":1232.083251953125,"wires":[["75df0639.c6d8a8"]]},{"id":"75df0639.c6d8a8","type":"function","z":"e35c896e.0d0748","name":"","func":"var val = global.get(\"Alcohol_Benzine\");\n\nvar n = 'curl -i -X PUT http://api-m2x.att.com/v2/devices/8de90c9661b5fc5341c863376f30606b/streams/Alcohol_Benzine/value -H \"X-M2X-KEY: de052bb8f81474efa4dcb1ab156ed306\" -H \"Content-Type: application/json\" -d ';\n//var m = '\"{ \\\\\"value\\\\\": \\\\\"40\\\\\" }\"';\nvar m = '\"{ \\\\\"value\\\\\": \\\\\"';\nvar o = val;\nvar oo = '\\\\\" }\"';\nvar p = n + m + o + oo;\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":952.333366394043,"y":1184.0832862854004,"wires":[["e0a3fb7e.b24338"]]},{"id":"e0a3fb7e.b24338","type":"exec","z":"e35c896e.0d0748","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"com","x":1030.08345413208,"y":1228.0832500457764,"wires":[[],[],[]]},{"id":"808b4bb7.de76b8","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"e4a5f3df.bf1fc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":267.2916946411133,"y":1358.3333530426025,"wires":[["eb2e7b1a.46a2e8","106a317.ed1a4cf","676945d2.9c088c"]]},{"id":"106a317.ed1a4cf","type":"switch","z":"e35c896e.0d0748","name":"","property":"Ammonia","propertyType":"global","rules":[{"t":"gte","v":"Ammonia-n","vt":"global"}],"checkall":"true","outputs":1,"x":515.625,"y":1367.0833129882812,"wires":[["d33ee1e4.11c13"]]},{"id":"eb2e7b1a.46a2e8","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Ammonia-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":459.3750228881836,"y":1305.0000972747803,"wires":[[]]},{"id":"5ee68fe2.07e63","type":"telegram sender","z":"e35c896e.0d0748","name":"","bot":"4801aa0f.a73d14","x":1305.6250495910645,"y":1668.333417892456,"wires":[["3452ae2a.fbeff2"]]},{"id":"d33ee1e4.11c13","type":"function","z":"e35c896e.0d0748","name":"","func":"msg.payload = { \"chatId\": 133502756, \"type\": \"message\", \"content\": \"Alarm Activation in Zone A\" };\nreturn msg;","outputs":1,"noerr":0,"x":903.1249743700027,"y":1695.0000095367432,"wires":[["3563ac60.917ba4","2f784746.c664d8"]]},{"id":"c7920ddf.032ba","type":"inject","z":"e35c896e.0d0748","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":136.87503814697266,"y":1832.5001811981201,"wires":[["106a317.ed1a4cf","b5d1841c.7ea8c8","f25eac13.2305c","7b092d86.f93274","256f1388.620a1c","2fd41c9c.07bb04","e90f5aad.727668","5216ff67.71b96"]]},{"id":"3563ac60.917ba4","type":"trigger","z":"e35c896e.0d0748","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"2","extend":false,"units":"min","reset":"","name":"","x":1058.1250381469727,"y":1673.7500858306885,"wires":[["5ee68fe2.07e63","553f1547.54566c"]]},{"id":"79eeec8f.5274f4","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"3fb698a7.aaa1f8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":269.16668701171875,"y":1482.08332157135,"wires":[["64924777.0a2688","b5d1841c.7ea8c8"]]},{"id":"64924777.0a2688","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Carbon_Monoxide-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":515.4166717529297,"y":1425.8333177566528,"wires":[[]]},{"id":"b5d1841c.7ea8c8","type":"switch","z":"e35c896e.0d0748","name":"","property":"Carbon_Monoxide","propertyType":"global","rules":[{"t":"gte","v":"Carbon_Monoxide-n","vt":"global"}],"checkall":"true","outputs":1,"x":513.75,"y":1487.4998779296875,"wires":[["d33ee1e4.11c13"]]},{"id":"a955e52a.8a9188","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"c84809e7.b218a8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":281.25,"y":1623.7498779296875,"wires":[["5f715092.a0f5f","f25eac13.2305c"]]},{"id":"5f715092.a0f5f","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Nitrogen_Dioxide-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":527.4999847412109,"y":1567.4998741149902,"wires":[[]]},{"id":"f25eac13.2305c","type":"switch","z":"e35c896e.0d0748","name":"","property":"Nitrogen_Dioxide","propertyType":"global","rules":[{"t":"gte","v":"Nitrogen_Dioxide-n","vt":"global"}],"checkall":"true","outputs":1,"x":525.8333129882812,"y":1629.166434288025,"wires":[["d33ee1e4.11c13"]]},{"id":"d4f65281.308e3","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"d365bd57.b9654","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":291.25,"y":1759.1666259765625,"wires":[["a42bded.6429a2","7b092d86.f93274"]]},{"id":"a42bded.6429a2","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Propane-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":507.49998474121094,"y":1702.9166221618652,"wires":[[]]},{"id":"7b092d86.f93274","type":"switch","z":"e35c896e.0d0748","name":"","property":"Propane","propertyType":"global","rules":[{"t":"gte","v":"Propane-n","vt":"global"}],"checkall":"true","outputs":1,"x":535.8333129882812,"y":1764.5831823349,"wires":[["d33ee1e4.11c13"]]},{"id":"32c5248e.60e61c","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"7155daf3.b4a264","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":297.5,"y":1885.4166259765625,"wires":[["2b69fc61.acd794","256f1388.620a1c"]]},{"id":"2b69fc61.acd794","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Butane-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":503.74998474121094,"y":1829.1666221618652,"wires":[[]]},{"id":"256f1388.620a1c","type":"switch","z":"e35c896e.0d0748","name":"","property":"Butane","propertyType":"global","rules":[{"t":"gte","v":"Butane-n","vt":"global"}],"checkall":"true","outputs":1,"x":542.0833129882812,"y":1890.8331823349,"wires":[["d33ee1e4.11c13"]]},{"id":"7ba6c500.15a5ac","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"89dda3e2.e5689","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":316.25,"y":2029.1666259765625,"wires":[["f6abe8c4.46a738","2fd41c9c.07bb04"]]},{"id":"f6abe8c4.46a738","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Methane-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":532.4999847412109,"y":1972.9166221618652,"wires":[[]]},{"id":"2fd41c9c.07bb04","type":"switch","z":"e35c896e.0d0748","name":"","property":"Methane","propertyType":"global","rules":[{"t":"gte","v":"Methane-n","vt":"global"}],"checkall":"true","outputs":1,"x":560.8333129882812,"y":2034.5831823349,"wires":[["d33ee1e4.11c13"]]},{"id":"e3a4fbec.f63778","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"5ce9c1b9.a371b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":326.25,"y":2162.91650390625,"wires":[["63071ca4.66cb04","e90f5aad.727668"]]},{"id":"63071ca4.66cb04","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Hydrogen-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":542.4999847412109,"y":2106.6665000915527,"wires":[[]]},{"id":"e90f5aad.727668","type":"switch","z":"e35c896e.0d0748","name":"","property":"Hydrogen","propertyType":"global","rules":[{"t":"gte","v":"Hydrogen-n","vt":"global"}],"checkall":"true","outputs":1,"x":570.8333129882812,"y":2168.3330602645874,"wires":[["d33ee1e4.11c13"]]},{"id":"6a10f47e.9ecc5c","type":"ui_numeric","z":"e35c896e.0d0748","name":"","label":"Notification Level","group":"8adf1e46.c9d3e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":332.5,"y":2282.5,"wires":[["c4c633e1.d32a1","5216ff67.71b96"]]},{"id":"c4c633e1.d32a1","type":"change","z":"e35c896e.0d0748","name":"","rules":[{"t":"set","p":"Alcohol_Benzine-n","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":568.7499847412109,"y":2226.2499961853027,"wires":[[]]},{"id":"5216ff67.71b96","type":"switch","z":"e35c896e.0d0748","name":"","property":"Alcohol_Benzine","propertyType":"global","rules":[{"t":"gte","v":"Alcohol_Benzine-n","vt":"global"}],"checkall":"true","outputs":1,"x":577.0833129882812,"y":2287.9165563583374,"wires":[["d33ee1e4.11c13"]]},{"id":"35526e79.93e0e2","type":"function","z":"e35c896e.0d0748","name":"","func":"msg.payload = { \"chatId\": 133502756, \"type\": \"message\", \"content\": \"https://www.google.com/maps/place/Malaysian+Communications+And+Multimedia+Commision,+Cyberjaya,+63000+Cyberjaya,+Selangor,+Malaysia/@2.9217589,101.6615073,17z/data=!3m1!4b1!4m5!3m4!1s0x31cdb65664bf64f3:0xd2963adeb15ff1a!8m2!3d2.9216129!4d101.6636942\" };\nreturn msg;","outputs":1,"noerr":0,"x":1003.7501907348633,"y":1812.4999294281006,"wires":[["5ee68fe2.07e63"]]},{"id":"3452ae2a.fbeff2","type":"debug","z":"e35c896e.0d0748","name":"","active":true,"console":"false","complete":"false","x":1321.458421945572,"y":1796.6666507720947,"wires":[]},{"id":"553f1547.54566c","type":"delay","z":"e35c896e.0d0748","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1021.8750381469727,"y":1741.6667547225952,"wires":[["35526e79.93e0e2"]]},{"id":"2f784746.c664d8","type":"debug","z":"e35c896e.0d0748","name":"","active":true,"console":"false","complete":"false","x":928.5416793823242,"y":1548.333330154419,"wires":[]},{"id":"676945d2.9c088c","type":"debug","z":"e35c896e.0d0748","name":"","active":true,"console":"false","complete":"false","x":651.0416793823242,"y":1313.3333110809326,"wires":[]},{"id":"883a12fc.b024f","type":"function","z":"e35c896e.0d0748","name":"","func":"var vv = msg.payload;\nvar vv1 = vv - 436;\nif (vv1 <= 0) {\n    vv1 = 0\n}\n\nmsg.payload= vv1;\nreturn msg;","outputs":1,"noerr":0,"x":369.7916679382324,"y":781.2501211166382,"wires":[["96697d79.3dcec","165fc000.48a4c","95c004fd.8c53b8"]]},{"id":"c0e47855.9000b8","type":"function","z":"e35c896e.0d0748","name":"","func":"var vv = msg.payload;\nvar vv1 = vv - 317;\nif (vv1 <= 0) {\n    vv1 = 0\n}\n\nmsg.payload= vv1;\nreturn msg;","outputs":1,"noerr":0,"x":397.0833206176758,"y":888.3333778381348,"wires":[["ba2c046c.1b7998","40d293fc.ad041c","fc3c48d3.89e2a8"]]},{"id":"e6239c7c.94862","type":"function","z":"e35c896e.0d0748","name":"","func":"var vv = msg.payload;\nvar vv1 = vv - 681;\nif (vv1 <= 0) {\n    vv1 = 0\n}\n\nmsg.payload= vv1;\nreturn msg;","outputs":1,"noerr":0,"x":394.58331298828125,"y":949.1666259765625,"wires":[["487e3dc0.3f3894","4f88c0ad.1f666","4e7b6bed.f15874"]]},{"id":"afdc83a4.137a9","type":"mqtt-broker","z":"","broker":"54.202.252.27","port":"8883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3fb698a7.aaa1f8","type":"ui_group","z":"","name":"Group 2","tab":"d3e8e294.fb5f8","order":2,"disp":false,"width":"6"},{"id":"c84809e7.b218a8","type":"ui_group","z":"","name":"Group 3","tab":"d3e8e294.fb5f8","order":3,"disp":false,"width":"6"},{"id":"8adf1e46.c9d3e","type":"ui_group","z":"","name":"Group 8","tab":"d3e8e294.fb5f8","order":8,"disp":false,"width":"6"},{"id":"5ce9c1b9.a371b","type":"ui_group","z":"","name":"Group 7","tab":"d3e8e294.fb5f8","order":7,"disp":false,"width":"6"},{"id":"e4a5f3df.bf1fc","type":"ui_group","z":"","name":"Default","tab":"d3e8e294.fb5f8","disp":false,"width":"6"},{"id":"d365bd57.b9654","type":"ui_group","z":"","name":"Group 4","tab":"d3e8e294.fb5f8","order":4,"disp":false,"width":"6"},{"id":"7155daf3.b4a264","type":"ui_group","z":"","name":"Group 5","tab":"d3e8e294.fb5f8","order":5,"disp":false,"width":"6"},{"id":"89dda3e2.e5689","type":"ui_group","z":"","name":"Group 6","tab":"d3e8e294.fb5f8","order":6,"disp":false,"width":"6"},{"id":"4801aa0f.a73d14","type":"telegram bot","z":"","botname":"fooBot","usernames":"","chatids":""},{"id":"d3e8e294.fb5f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
